---

---

<div class="max-w-7xl mx-auto mb-1 px-4 sm:px-8 md:px-10 my-20 sm:mt-8 md:mt-12">
          <div class="flex items-center gap-2 ">
             <p class="text-pretty text-center mx-auto sm:text-lg break-words max-w-3xs sm:max-w-lg md:max-w-2xl mb-4 rounded-full bg-supabase/10 hover:bg-supabase/20 text-base border-supabase/30 border p-2 ">
               <span class="text-supabase text-[20px]">Experiencias</span> profesionales que han dado forma a mi carrera
             </p>
          </div>
       <div class="relative w-full mb-20 mx-auto">
          <div class="absolute hidden lg:block left-1/2 w-1 bg-gradient-to-b from-[#6366f1] via-blue-900 to-[#a855f7] h-full blur-[2px] -translate-x-1/2" style="opacity: 1; transform: none;"></div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-x-14 lg:gap-y-20 pb-10 relative">
             <div class="w-full lg:translate-y-0" style="opacity: 1; transform: none;">
                <div class="relative w-full max-w-full group self-end">
                   <div class="absolute hidden lg:block top-1/2 -translate-y-1/2 w-8 h-8 rounded-full bg-gradient-to-br saturate-40 shadow-lg z-10 from-blue-500 to-indigo-600 right-[-45px]" style="top: 50%;"></div>
                   <div class="relative w-full backdrop-blur-lg rounded-2xl p-4 md:p-6 border border-white/5 shadow-lg hover:shadow-2xl ml-auto" style="opacity: 0.7; transform: none;">
                      <div class="absolute inset-0 bg-gradient-to-br opacity-50 group-hover:opacity-70 dark:opacity-10 dark:group-hover:opacity-20 transition-opacity duration-300 rounded-2xl from-blue-500 to-indigo-600"></div>
                      <div class="relative z-10 space-y-2 sm:space-y-4">
                         <div class="flex items-center space-x-4">
                            <img src="images/freelancer.webp" alt="freelancer" class="w-full h-full object-cover max-w-32 sm:h-14 rounded-md p-1 bg-white sm:hover:p-1 transition-colors duration-500">
                            <div>
                               <div class="text-lg font-bold text-text-light tracking-wide dark:text-gray-200 transition-colors">FreeLancer</div>
                               <div class="text-base text-text-light_secondary dark:text-gray-400">Desarrollador FullStack</div>
                            </div>
                         </div>
                         <div class="flex items-center space-x-2 text-text-light_secondary dark:text-gray-400 text-sm uppercase"><span>Feb 2023</span><span class="w-3 h-0.5 rounded-full bg-gray-500"></span><span>Actualidad</span></div>
                         <p class="text-text-light dark:text-gray-300 text-pretty text-justify text-base">Un freelancer fullstack es un profesional independiente especializado en el desarrollo integral de aplicaciones web, combinando habilidades de frontend y backend para ofrecer soluciones completas y funcionales.</p>
                         <ul class="space-y-1">
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-blue-500 to-indigo-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light text-left dark:text-gray-300 ">Desarrollo fullstack integrando frontend y backend en proyectos web.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-blue-500 to-indigo-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light text-left dark:text-gray-300 ">Creación de interfaces dinámicas con React y manejo de estados complejos.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-blue-500 to-indigo-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light text-left dark:text-gray-300 ">Construcción de APIs REST con Express.js y Node.js así como la implementación de autenticación, validación de datos y manejo de errores.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-blue-500 to-indigo-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light text-left dark:text-gray-300 ">Control de versiones y trabajo colaborativo con Git.
                            </span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-blue-500 to-indigo-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light text-left dark:text-gray-300 ">Desarrollo y personalización de sitios web con CMS como WordPress.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-blue-500 to-indigo-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light text-left dark:text-gray-300 ">Aplicación de buenas prácticas en pruebas, estructura de código y escalabilidad.</span></li>
                         </ul>
                         <div class="flex flex-wrap gap-2 grow">
                            <div class="flex flex-wrap gap-2 pt-2"><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-react/10 hover:bg-react/20 text-react border-react/80">react</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-typescript/10 hover:bg-typescript/20 text-typescript border-typescript/80">typescript</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-amber-300 border-amber-400/30">NodeJs</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-javascript border-javascript/30">ExpressJs</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-javascript border-javascript/30">JavaScript</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-sass/10 hover:bg-sass/20 text-jest border-jest/30">Jest</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-redux-saga/10 hover:bg-github/20 text-white border-white/30">Git</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-mongo/10 hover:bg-mongo/20 text-mongo border-mongo/30">MongoDB</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-react-query/10 hover:bg-react-query/20 text-react-query border-react-query/30">Wordpress</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-react/10 hover:bg-react/20 text-react border-react/30">Docker</span></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="w-full lg:translate-y-72" style="opacity: 1; transform: translateY(50px) translateZ(0px);">
                <div class="relative w-full max-w-full group self-start">
                   <div class="absolute hidden lg:block top-1/2 -translate-y-1/2 w-8 h-8 rounded-full bg-gradient-to-br saturate-40 shadow-lg z-10 from-green-500 to-teal-600 left-[-43px]" style="top: 50%;"></div>
                   <div class="relative w-full backdrop-blur-lg rounded-2xl p-4 md:p-6 border border-white/5 shadow-lg hover:shadow-2xl mr-auto" style="opacity: 0.7; transform: none;">
                      <div class="absolute inset-0 bg-gradient-to-br opacity-50 group-hover:opacity-70 dark:opacity-10 dark:group-hover:opacity-20 transition-opacity duration-300 rounded-2xl from-green-500 to-teal-600"></div>
                      <div class="relative z-10 space-y-2 sm:space-y-4">
                         <div class="flex items-center space-x-4">
                            <a href="https://ecopetrol.com.co" target="_blank" rel="noopener noreferrer" class="w-fit max-w-32 h-10 sm:h-14 rounded-md p-1.5 sm:p-3 bg-white flex items-center justify-center sm:hover:p-1 transition-colors duration-500"><img src="images/Logo_Ecopetrol.webp" alt="ecopetrol" class="w-full h-full object-contain"></a>
                            <div>
                               <div class="text-lg font-bold text-text-light tracking-wide dark:text-gray-200 transition-colors">Ecopetrol S.A</div>
                               <div class="text-base text-text-light_secondary dark:text-gray-400">Análista de Datos</div>
                            </div>
                         </div>
                         <div class="flex items-center space-x-2 text-text-light_secondary dark:text-gray-400 text-sm uppercase"><span>Ago 2024</span><span class="w-3 h-0.5 rounded-full bg-gray-500"></span><span>Ene 2025</span></div>
                         <p class="text-text-light dark:text-gray-300 text-pretty text-justify text-base">Ecopetrol es la principal empresa petrolera de Colombia y una de las más grandes de Latinoamérica, integrada en toda la cadena de hidrocarburos: exploración, producción, transporte, refinación y comercialización.</p>
                         <ul class="space-y-1">
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-green-500 to-teal-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Modelé datos y desarrollé procesos ETL para estructurar y depurar información.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-green-500 to-teal-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Optimicé flujos de trabajo para mejorar la eficiencia en el tratamiento de datos.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-green-500 to-teal-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Realicé consultas SQL para extraer y transformar datos de distintas fuentes.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-green-500 to-teal-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Apliqué modelos de análisis predictivo y exploratorio usando Python y librerías de machine learning.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-green-500 to-teal-600 saturate-40 rounded-sm"></span>
                            Elaboré informes automáticos e interactivos utilizando Power BI.<span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">
                            </span></li>
                         </ul>
                         <div class="flex flex-wrap gap-2 grow">
                            <div class="flex flex-wrap gap-2 pt-2"><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-mongo/10 hover:bg-mongo/20 text-mongo border-mongo/30">SQL</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-javascript border-javascript/30">Python</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-react/10 hover:bg-react/20 text-react border-react/30">Dax</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-javascript border-javascript/30">PowerBI</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-raspberrypi/10 hover:bg-raspberrypi/20 text-white border-raspberrypi/30">Numpy</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-javascript border-javascript/30">Pandas</span></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="w-full lg:translate-y-0" style="opacity: 1; transform: none;">
                <div class="relative w-full max-w-full group self-end">
                   <div class="absolute hidden lg:block top-1/2 -translate-y-1/2 w-8 h-8 rounded-full bg-gradient-to-br saturate-40 shadow-lg z-10 from-purple-500 to-pink-600 right-[-45px]" style="top: 50%;"></div>
                   <div class="relative w-full backdrop-blur-lg rounded-2xl p-4 md:p-6 border border-white/5 shadow-lg hover:shadow-2xl ml-auto" style="opacity: 0.7; transform: none;">
                      <div class="absolute inset-0 bg-gradient-to-br opacity-50 group-hover:opacity-70 dark:opacity-10 dark:group-hover:opacity-20 transition-opacity duration-300 rounded-2xl from-purple-500 to-pink-600"></div>
                      <div class="relative z-10 space-y-2 sm:space-y-4">
                         <div class="flex items-center space-x-4">
                            <img src="images/acanet.webp" alt="Glen Dimplex" class=" object-contain w-fit max-w-32 h-10 sm:h-14 rounded-md p-1.5 sm:p-3 bg-white flex items-center justify-center sm:hover:p-1 transition-colors duration-500">
                            <div>
                               <div class="text-lg font-bold text-text-light tracking-wide dark:text-gray-200 transition-colors">Acanet</div>
                               <div class="text-base text-text-light_secondary dark:text-gray-400">Auxiliar de Redes y Telecomunicaciones</div>
                            </div>
                         </div>
                         <div class="flex items-center space-x-2 text-text-light_secondary dark:text-gray-400 text-sm uppercase"><span>Jun 2020</span><span class="w-3 h-0.5 rounded-full bg-gray-500"></span><span>Nov 2023</span></div>
                         <p class="text-text-light dark:text-gray-300 text-pretty text-justify text-base">Acanet es un proveedor local de internet que ofrece soporte técnico remoto y presencial, mantiene y monitorea servidores, routers y switches, gestiona el cableado estructurado, y lidera la expansión de red en nuevas zonas para mejorar la conectividad en la comunidad.</p>
                         <ul class="space-y-1">
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-purple-500 to-pink-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Realicé soporte y mantenimiento de servidores, routers y switches.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-purple-500 to-pink-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Monitoreo la red de forma continua y resolví fallos técnicos oportunamente.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-purple-500 to-pink-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Gestión e instalación de cableado estructurado para una red eficiente.</span></li>
                            <li class="flex items-start "><span class="min-w-2 min-h-2 mt-2 mr-2 bg-gradient-to-br from-purple-500 to-pink-600 saturate-40 rounded-sm"></span><span class="text-base text-pretty text-text-light dark:text-gray-300 text-left">Organización y distribución de redes internas según las necesidades del entorno</span></li>
                         </ul>
                         <div class="flex flex-wrap gap-2 grow">
                            <div class="flex flex-wrap gap-2 pt-2"><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-react/10 hover:bg-react/20 text-react border-react/30">Redes</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-matlab/10 hover:bg-matlab/20 text-matlab border-matlab/30">Administrador</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-simulink/10 hover:bg-simulink/20 text-simulink border-simulink/30">SoporteTI</span></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>