---
import { Github } from '../../icons/index'
---

<div class="max-w-7xl mx-auto px-4 sm:px-8 md:px-10 my-20 sm:mt-8 md:mt-12">
       <div class="text-center mb-10 flex flex-col items-center" style="opacity: 1; transform: none;">
          <div class="flex items-center gap-2 ">
             <p class=" text-pretty text-center mx-auto sm:text-lg break-words max-w-3xs sm:max-w-lg md:max-w-2xl bg-react/10 hover:bg-react/20 text-base border-react/30 rounded-full p-2">Explora algunos de los <span class="text-react text-[20px]">proyectos</span> donde convertí necesidades en resultados concretos.</p>
          </div>
       </div>

       <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 md:gap-8">
          <div class="relative flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg" style="opacity: 1; transform: none;">
             <div class="absolute -z-10 inset-0 bg-linear-to-br dark:from-accent-purple/5 dark:to-accent-blue/5 from-accent-light-purple/5 to-accent-light-blue/5 opacity-0 group-hover:opacity-100 transition-opacity duration-500"></div>
             <div class="relative w-full overflow-hidden">
                <div class="absolute inset-0 bg-linear-to-t dark:from-dark-background from-accent-light-purple/80 to-transparent z-10" style="opacity: 0.4;"></div>
                <img src="images/portfolio.webp" alt="Portafolio Wayron Estrada" class="w-full h-80 object-cover" style="transform: none;">
             </div>
             <div class="flex flex-col grow p-5 space-y-3">
                <h3 class="text-xl font-semibold bg-linear-to-r from-accent-purple to-accent-blue text-transparent bg-clip-text">Portafolio Personal</h3>
                <p class="dark:text-white/80 text-text-light_secondary text-sm text-pretty text-justify">Este portafolio es una aplicación web moderna desarrollada con Astro, estilizada con Tailwind CSS. Ofrece una navegación fluida entre secciones como experiencia y proyectos, optimizada para rendimiento y responsividad. El proyecto está gestionado con Git y desplegado en Vercel, asegurando disponibilidad continua y actualizaciones rápidas.</p>
                <div class="flex flex-wrap gap-2">
                   <div class="flex flex-wrap gap-2 pt-2"><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-aws/10 hover:bg-aws/20 text-aws border-aws/30">Astro</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-typescript/10 hover:bg-typescript/20 text-typescript border-typescript/30">Typescript</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-tailwindcss/10 hover:bg-tailwindcss/20 text-tailwindcss border-tailwindcss/30">tailwindcss</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-firebase/10 hover:bg-firebase/20 text-firebase border-firebase/30">Git</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-github/10 hover:bg-github/20 text-white border-white/30">Vercel</span></div>
                </div>
             </div>
             <div class="flex border-t dark:border-white/5 border-light-border divide-x dark:divide-white/5 divide-light-border">
                <a href="https://github.com/BayronEA/portfolio-bayronea" target="_blank" rel="noopener noreferrer" class="flex flex-wrap items-center justify-center gap-2 flex-1 py-3 text-sm dark:text-white/80 text-text-light_secondary hover:bg-linear-to-r dark:hover:from-accent-purple/20 dark:hover:to-accent-blue/20 hover:from-accent-light-purple/20 hover:to-accent-light-blue/20 transition-colors duration-300 cursor-pointer" tabindex="0">
                  <Github/>
                   Repositorio
                </a>
             </div>
          </div>
          <div class="relative flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
             <div class="absolute -z-10 inset-0 bg-linear-to-br dark:from-accent-purple/5 dark:to-accent-blue/5 from-accent-light-purple/5 to-accent-light-blue/5 opacity-0 group-hover:opacity-100 transition-opacity duration-500"></div>
             <div class="relative w-full overflow-hidden">
                <div class="absolute inset-0 bg-linear-to-t dark:from-dark-background from-accent-light-purple/80 to-transparent z-10" style="opacity: 0.4;"></div>
                <img src="images/taskCollaborative.webp" alt="taskColaborative" class="w-full h-80 object-center" style="transform: none;">
             </div>
             <div class="flex flex-col grow p-5 space-y-3">
                <h3 class="text-xl font-semibold bg-linear-to-r from-accent-purple to-accent-blue text-transparent bg-clip-text">Task Collaborative</h3>
                <p class="dark:text-white/80 text-text-light_secondary text-sm text-pretty text-justify">Este proyecto es una aplicación web colaborativa para la gestión de tareas, donde los usuarios pueden crear listas de tareas, compartirlas con otros y asignar diferentes roles y permisos. Permite registro y autenticación de usuarios, gestión de tareas y colaboradores, y control de acceso mediante JWT. El backend está desarrollado con Node.js, Express y MongoDB, mientras que el frontend utiliza React y Vite. Se emplean tecnologías como Zod para validaciones, bcrypt para el hash de contraseñas, JWT para autenticación, axios, y Git para el control de versiones.</p>
                <div class="flex flex-wrap gap-2">
                   <div class="flex flex-wrap gap-2 pt-2"><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-node/10 hover:bg-node/20 text-node border-node/30">NodeJs</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-node/10 hover:bg-node/20 text-node border-node/30">Express</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-react/10 hover:bg-react/20 text-react border-react/20">React</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-mongo/10 hover:bg-mongo/20 text-mongo border-mongo/20">MongoDB</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-javascript/10 hover:bg-javascript/20 text-javascript border-javascript/20">JWT</span><span class="px-3 py-1 h-max text-xs font-medium rounded-full transition-colors duration-200 border capitalize bg-github/10 hover:bg-github/20 text-white border-white/30">Git</span></div>
                </div>
             </div>
             <div class="flex border-t dark:border-white/5 border-light-border divide-x dark:divide-white/5 divide-light-border">
                <a href="https://github.com/BayronEA/task-collaborative-project-fullstack" target="_blank" rel="noopener noreferrer" class="flex flex-wrap items-center justify-center gap-2 flex-1 py-3 text-sm dark:text-white/80 text-text-light_secondary hover:bg-linear-to-r dark:hover:from-accent-purple/20 dark:hover:to-accent-blue/20 hover:from-accent-light-purple/20 hover:to-accent-light-blue/20 transition-colors duration-300 cursor-pointer" tabindex="0">
                  <Github/>
                   Repositorio
                </a>
             </div>
          </div>
       </div>
    </div>