<section class="text-gray-600 body-font">
   <div class="container px-5 py-24 mx-auto">
     <div class="flex flex-col text-center w-full mb-20">
       <h1 class="text-4xl font-bold dark:text-white text-text-light_secondary mb-2">Habilidades <span class="bg-linear-to-r from-accent-purple to-accent-blue text-transparent bg-clip-text">Tecnológicas</span></h1>
       <p class="text-wrap mx-auto text-gray-400">Estas son las tecnologías que manejo y cada día aprendiendo más.</p>
     </div>
     <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6 md:gap-8">
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/nodejs.webp" alt="NodeJs" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">NodeJs</h3>
            
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/expressjs_dark.webp" alt="express" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Express</h3>
            
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/typescript.webp" alt="typescript" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">TypeScript</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/react.webp" alt="react" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">React</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/astro.webp" alt="astro" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Astro</h3>
            
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/tailwindcss.webp" alt="tailwind" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Tailwind CSS</h3>

         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg" style="transform: none;"><img src="images/mongodb.webp" alt="mongodb" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">MongoDB</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/sqldatabase.webp" alt="sql" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">SQL</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/jest.webp" alt="jest" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Jest</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/git.webp" alt="git" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">GIT</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/docker.webp" alt="docker" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Docker</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/aws.webp" alt="aws" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">AWS</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/wordpress.webp" alt="wordpress" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">WordPress</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/python.webp" alt="python" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Python</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg"><img src="images/NumPy.webp" alt="numpy" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Numpy</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg scale-200"><img src="images/pandas.webp" alt="pandas" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Pandas</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg scale-200"><img src="images/scikit-learn.webp" alt="scikit-learn" class="w-full h-full object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">Scikit-Learn</h3>
         </div>
      </div>
      <div class="relative group flex flex-col h-full overflow-hidden rounded-xl dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border shadow-lg transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" style="opacity: 1; transform: none; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;">
         <div class="flex flex-col items-center justify-center p-6 space-y-4 z-10 ">
            <div class="relative w-16 h-16 z-0 flex items-center justify-center ">
               <div class="absolute inset-0 rounded-full bg-gradient-to-br from-accent-purple to-accent-blue blur-lg " style="opacity: 0; transform: scale(0.8) translateZ(0px);"></div>
               <div class="relative z-10 p-1 rounded-full backdrop-opacity-0 backdrop-blur-lg scale-200"><img src="images/powerbi.webp" alt="powerbi" class="w-10 h-10 object-contain"></div>
            </div>
            <h3 class="text-xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-accent-purple to-accent-blue text-center z-10">PowerBI</h3>
         </div>
      </div>
   </div>
   </div>
 </section>