---
import { Github, LinkedIn, Whatsapp } from './icons/index'
---

<footer class="relative z-10 w-full py-8 px-4 sm:px-6 bg-black/30 backdrop-blur-sm border-t border-white/5">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-4">
       <div class="mb-4 md:mb-0">
          <p class="text-base text-pretty text-center md:text-left text-white/70">© 2025 Wayroon Estrada. Todos los Derechos Reservados.</p>
       </div>
       <div class="flex items-center justify-center space-x-8">
          <a href="https://www.linkedin.com/in/wayroon-miguel-estrada-arias-aa99a9166/" target="_blank" rel="noopener noreferrer" role="link" aria-label="LinkedIn" class="text-white/50 hover:text-white transition-colors duration-300">
            <LinkedIn/>
          </a>
          <a href="https://github.com/bayronea" target="_blank" rel="noopener noreferrer" role="link" aria-label="GitHub" class="text-white/50 hover:text-white transition-colors duration-300">
          <Github/>
          </a>
          <a href="https://wa.me/573012328470" target="_blank" rel="noopener noreferrer" role="link" aria-label="WhatsApp" class="text-white/50 hover:text-white transition-colors duration-300">
            <Whatsapp/>
          </a>
       </div>
    </div>
</footer>