---
import { Github, LinkedIn, Whatsapp } from '../../icons/index'

---

<div id="contact" class="relative w-full min-h-screen sm:py-24 px-4 sm:px-6 lg:px-8">
    <div class="absolute -z-10 top-0 inset-x-0 h-40 bg-linear-to-b from-light-background dark:from-dark-background to-transparent transition-colors duration-500 ease-in-out"></div>
    <div class="absolute -z-10 bottom-0 inset-x-0 h-40 bg-linear-to-t from-light-background dark:from-dark-background to-transparent transition-colors duration-500 ease-in-out"></div>
    <div class="absolute top-20 left-10 w-32 h-32 rounded-full bg-accent-purple/5 blur-xl" style="transform: translateX(27.9674px) translateY(46.6124px) translateZ(0px);"></div>
    <div class="absolute bottom-40 right-10 w-64 h-64 rounded-full bg-accent-blue/5 blur-xl" style="transform: translateX(-2.52548px) translateY(2.52548px) translateZ(0px);"></div>
    <div class="relative max-w-6xl pt-24 pb-12 md:pt-4 md:pb-0 mx-auto z-10">
       <div class="text-center mb-6 md:mb-16" style="opacity: 1; transform: none;">
          <h2 class="text-4xl font-bold text-text-light_secondary dark:text-white mb-4">Contácta<span class="bg-linear-to-r from-accent-purple to-accent-blue text-transparent bg-clip-text">me</span></h2>
       </div>
       <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex items-center justify-center">   
            <p class="text-4xl sm:text-5xl lg:text-7xl animate-pulse [animation-duration:5000ms] text-center text-pretty">¿Listo para llevar tu idea al siguiente nivel? <span class="relative bg-gradient-to-r from-[#6366f1] to-[#a855f7] bg-clip-text text-transparent">Trabajemos juntos.</span></p>
        </div>
        <div class="dark:bg-dark-light bg-light-card border dark:border-dark-border border-light-border rounded-xl p-4 md:p-6 shadow-lg h-full flex flex-col">
            <h3 class="text-xl font-semibold text-text-light dark:text-white mb-6">Conectemos</h3>
            <p class="text-text-light_secondary dark:text-white/70 text-pretty mb-8">No dudes conectarte conmigo en cualquiera de estas plataformas:</p>
            <div class="space-y-6 grow">
                <a href="https://www.linkedin.com/in/wayroon-miguel-estrada-arias-aa99a9166/" role="link" target="_blank" rel="noopener noreferrer" class="flex items-center cursor-pointer p-4 rounded-lg bg-light-foreground dark:bg-dark-background hover:bg-linear-to-r hover:from-linkedin/30 hover:to-linkedin/50 dark:hover:from-linkedin/40 dark:hover:to-linkedin/80 border border-white/5 transition-colors duration-300">
                    <div class="shrink-0 w-10 h-10 rounded-full bg-light-foreground dark:bg-dark-background border border-light-card dark:border-white/10 flex items-center justify-center">
                        <LinkedIn/>
                    </div>
                    <div class="ml-4">
                        <h4 class="text-base font-medium text-text-light dark:text-white text-left">LinkedIn</h4>
                        <p class="text-sm text-text-light_secondary dark:text-white/50">/in/wayroonEstrada</p>
                    </div>
                </a>
                <a href="https://github.com/bayronea" target="_blank" role="link" rel="noopener noreferrer" class="flex items-center p-4 rounded-lg bg-light-foreground dark:bg-dark-background hover:bg-linear-to-r hover:from-github/10 hover:to-github/30 dark:hover:from-github/40 dark:hover:to-github/80 border border-white/5 transition-colors duration-300">
                    <div class="shrink-0 w-10 h-10 rounded-full bg-light-foreground dark:bg-dark-background border border-light-card dark:border-white/10 flex items-center justify-center">
                        <Github/>
                    </div>
                    <div class="ml-4">
                        <h4 class="text-base font-medium text-text-light dark:text-white text-left">GitHub</h4>
                        <p class="text-sm text-text-light_secondary dark:text-white/50">/bayronea</p>
                    </div>
                </a>
                <a href="https://wa.me/573012328470" target="_blank" role="link" rel="noopener noreferrer" class="flex items-center p-4 rounded-lg bg-light-foreground dark:bg-dark-background hover:bg-linear-to-r hover:from-x/40 hover:to-x/80 border border-white/5 transition-colors duration-300">
                    <div class="shrink-0 w-10 h-10 rounded-full bg-light-foreground dark:bg-dark-background border border-light-card dark:border-white/10 flex items-center justify-center">
                        <Whatsapp/>
                    </div>
                    <div class="ml-4">
                        <h4 class="text-base font-medium text-text-light dark:text-white text-left">Whatsapp</h4>
                        <p class="text-sm text-text-light_secondary dark:text-white/50">@WayroonEstrada</p>
                    </div>
                </a>
            </div>
            <p class="text-sm text-text-light_secondary dark:text-white/50 mt-6">¿Prefieres el correo electrónico? Contáctame directamente en: <a href="mailto:berdugogarces@gmail.com" role="link" class="text-accent-purple hover:text-accent-blue transition-colors duration-300">berdugogarces@gmail.com</a></p>
        </div>
       </div>
    </div>
 </div>